# 파이썬 기본
____
### 1. 들여쓰기(Indent)
### 2. 변수와 연산 

### 3. 데이터 타입
- 숫자(Number)  
- 문자열(String)  
- 리스트(List)  
- 딕셔너리(Dictionary)  
- 불린(Boolean)  
- 튜플(Tuple)   
- 셋(Set)    

### 4. 비교 연산자  
- 비교 연산자  
- 논리 연산자        

### 5. 제어문
- for 루프  
- while 루프  
- range()   

### 6. 컴프리헨션(Comprehension)    

### 7. 함수(functions)    
- 함수
- 람다 식(lambda expressions)  
- 맵과 필터(map and filter)  
- 내장 메서드(methods)    

### 8. 클래스    

### 9. 파일 핸들링

## 1. 들여쓰기(Indent)
코딩을 할 때, 가독성을 위해 들여쓰기(Indent)를 하며,  인덴트(Indent) 사용하여 영역을 지정합니다.(강제사항)  
코드 블럭을 구성하기 위해 if, for, def, class 등 을 작성하면서 나오는 : (colone) 다음줄은 반드시 들여쓰기를 해야합니다.   
인덴트(Inden) 방법은 2칸, 4칸, 탭(Tab) 등 여러가지 방식이 있으며, Space를 사용한 Tab Size 4를 인덴트로 사용하세요.

### <span style="color:blue">실습 : 들여쓰기(Indent)를 하세요.</span>

In [39]:
def add(num1, num2):
print(num1)
    print(num2)
  print(num1 + num2)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

## 2. 변수와 연산

변수(Variable)는 숫자나 문자열 등의 값을 담아두는 상자라고 생각하면 된다.

### 변수 할당(Variable Assignment)

In [40]:
# 변수를 정의하고 값을 할당
x = 2
y = 3
z = x + y

In [41]:
msg = 'Welcome to Python'

### 변수의 값을 출력

In [42]:
# 변수의 값을 출력
print(x)

2

In [43]:
x

2

In [44]:
print(msg)

Welcome to Python

### 변수의 데이터 타입 확인

In [50]:
print(type(num))
print(type(msg))

<class 'int'>
<class 'str'>

## 3. 데이터 타입

### 숫자(Number)

In [51]:
1 + 1

2

In [52]:
1 * 3

3

In [53]:
1 / 2

0.5

In [54]:
2 ** 4

16

In [55]:
4 % 2

0

In [56]:
5 % 2

1

In [57]:
(2 + 3) * (5 + 5)

50

### 문자열(String)

In [58]:
'single quotes'

'single quotes'

In [59]:
"double quotes"

'double quotes'

### 출력(Printing)

In [60]:
x = 'hello'

In [61]:
print(x)

hello

In [62]:
num = 12
name = 'Danny'

In [63]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Danny

In [64]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Danny

### 리스트(List)
어떤 데이터 타입이라도 요소를 가질 수 있으면 수정이 가능한 가변형이다.

In [65]:
my_list = [1, 2, 3]
my_list

[1, 2, 3]

In [66]:
my_list = ['hi', 1, [1, 2]]
my_list

['hi', 1, [1, 2]]

In [67]:
my_list = ['a', 'b', 'c']

In [68]:
my_list.append('d')

In [69]:
my_list

['a', 'b', 'c', 'd']

In [70]:
my_list[0]

'a'

In [71]:
my_list[1]

'b'

In [72]:
my_list[1:]

['b', 'c', 'd']

In [73]:
my_list[:1]

['a']

In [74]:
my_list[0] = 'NEW'

In [75]:
my_list

['NEW', 'b', 'c', 'd']

In [76]:
nest = [1,2,3,[4,5,['target']]]

In [77]:
nest[3]

[4, 5, ['target']]

In [78]:
nest[3][2]

['target']

In [79]:
nest[3][2][0]

'target'

### 딕셔너리(Dictionary)
key-value 쌍을 요소로 갖는다. 수정이 가능한 가변형이다.

In [80]:
d = {'key1':'item1','key2':'item2'}

In [81]:
d

{'key1': 'item1', 'key2': 'item2'}

In [82]:
d['key1']

'item1'

### 불린(Boolean)

In [83]:
True

True

In [84]:
False

False

### 튜플(Tuple)
리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없는 불변형이다.

In [85]:
t = (1,2,3)

In [86]:
t[0]

1

In [87]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### 셋(Set)
집합에 관련된 것을 쉽게 처리하기 위해 만든 자료형이다.

In [88]:
s = {1,2,3}
s

{1, 2, 3}

In [89]:
s = {1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}
s

{1, 2, 3}

In [90]:
s = set([1,2,3])
s

{1, 2, 3}

## 4. 연산자
### 비교 연산자(Comparison Operator)

In [91]:
1 > 2

False

In [92]:
1 < 2

True

In [93]:
1 >= 1

True

In [94]:
1 <= 4

True

In [95]:
1 == 1

True

In [96]:
'hi' == 'bye'

False

### 논리 연산자(Logic Operator)

In [97]:
(1 > 2) and (2 < 3)

False

In [98]:
(1 > 2) or (2 < 3)

True

In [99]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## 5. 제어문
### if,elif, else 제어문(Statement)

In [100]:
if 1 < 2:
    print('Yep!')

Yep!

In [101]:
if 1 < 2:
    print('yep!')

yep!

In [102]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [103]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [104]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for 루프(Loop)

In [105]:
seq = [1,2,3,4,5]

In [106]:
for item in seq:
    print(item)

1
2
3
4
5

In [107]:
for item in seq:
    print(item+item)

2
4
6
8
10

## while 루프(Loop)

In [108]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [109]:
range(5)

range(0, 5)

In [110]:
for i in range(5):
    print(i)

0
1
2
3
4

In [111]:
list(range(5))

[0, 1, 2, 3, 4]

## 6. 컴프리헨션(Comprehension)
입력 Sequence로부터 새로운 데이터를 만드는 방법으로 제어문보다 간결하게 코드를 작성할 수 있게 한다.

In [112]:
x = [1,2,3,4]

In [113]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

### List comprehension
입력 Sequence로부터 지정된 표현식에 따라 새로운 리스트를 만드는 것으로, 아래와 같은 문법을 갖는다.   
```python
[ 출력표현식 for 요소 in 입력Sequence [if 조건식] ]
```

In [114]:
[ item**2 for item in x ]

[1, 4, 9, 16]

### Dictionary Comprehension
입력 Sequence로부터 지정된 표현식에 따라 새로운 Dictionary를 만드는 것으로, 아래와 같은 문법을 갖는다.  
```python
{ Key:Value for 요소 in 입력Sequence [if 조건식] }
```

In [115]:
fruit = {'Apple': '사과', 'Banana': '바나나', 'Orange': '오렌지'}
c = { v:k for k,v in fruit.items() } 
print(c)

{'사과': 'Apple', '바나나': 'Banana', '오렌지': 'Orange'}

## 7. 함수

### 함수(function)
자주 실행되는 코드를 함수로 작성해두고 이 함수를 호출하는 형태로 사용하면 편리하다.

In [116]:
def my_func(param1='default'):
    print(param1)

In [117]:
my_func

In [118]:
my_func()

default

In [119]:
my_func('new param')

new param

In [120]:
my_func(param1='new param')

new param

In [121]:
def square(x):
    return x**2

In [122]:
out = square(2)

In [123]:
print(out)

4

### 람다 식(lambda expression)으로 함수 만들기

In [124]:
def times2(var):
    return var*2

In [125]:
times2(2)

4

In [126]:
t2 = lambda var: var*2

In [127]:
t2(3)

6

### 맵, 필터(map and filter)

In [128]:
seq = [1, 2, 3, 4, 5]

In [129]:
map(times2, seq)

In [130]:
list(map(times2, seq))

[2, 4, 6, 8, 10]

In [131]:
list(map(lambda var: var*2, seq))

[2, 4, 6, 8, 10]

In [132]:
filter(lambda item: item%2 == 0, seq)

In [133]:
list(filter(lambda item: item%2 == 0, seq))

[2, 4]

### 내장 메서드(methods)

In [134]:
st = 'Hello my name is Danny'

In [135]:
st.lower()

'hello my name is danny'

In [136]:
st.upper()

'HELLO MY NAME IS DANNY'

In [137]:
st.split()

['Hello', 'my', 'name', 'is', 'Danny']

In [138]:
message = 'Python the Best programming language in #AI'

In [139]:
message.split('#')

['Python the Best programming language in ', 'AI']

In [140]:
message.split('#')[1]

'AI'

In [141]:
d

{'key1': 'item1', 'key2': 'item2'}

In [142]:
d.keys()

dict_keys(['key1', 'key2'])

In [143]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [144]:
lst = [1,2,3]

In [145]:
lst.pop()

3

In [146]:
lst

[1, 2]

In [147]:
'x' in [1,2,3]

False

In [148]:
'x' in ['x','y','z']

True

### 8. 클래스(Class)

In [149]:
class calc:
    # 인스턴스 초기화
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def add(self):
        z = self.x + self.y
        print(z)
    
    def sub(self):
        pass
    
    def mul(self):
        pass
    
    def div(self):
        pass

In [150]:
f = calc(3, 7)
f.add()

10

### <span style="color:blue">실습 : 사칙계산기 클래스 작성을 완성하세요.</span>